header {
    @apply w-full z-50 bg-neutral-800 text-white fixed top-0 left-0 columns-2
}
header {
    border-bottom: solid 1px #a1a1aa;
}
input.search {
    border-radius: 0.25rem 0px 0px 0.25rem;
}
.button-fit-to-input {
    border-radius: 0px 0.25rem 0.25rem 0px;
}
