@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-zinc-50
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page-body {
  @apply container w-full absolute content-center text-sm
}
.page-body {
  top:0px;
  left:60px;
  margin-top: 55px;
  height:100%;
}

.breadcrumb {
  @apply text-2xl font-semibold ml-2 pt-2
}

button, a.button {
  @apply text-white bg-slate-500 py-2 px-2 font-semibold rounded hover:bg-slate-600
}
.button-small {
  @apply text-white bg-slate-500 py-1 px-2 font-semibold rounded hover:bg-slate-600 text-sm
}
.small-icon {
  @apply w-4 h-4 inline mr-1
}
.draft {
  @apply text-zinc-300
}
.review {
  @apply text-green-600
}
.approved {
  @apply text-blue-700
}
.published {
  @apply text-neutral-950
}
.error {
  @apply text-red-600
}
.warning {
  @apply text-yellow-400
}
.arrow-to-index {
  @apply inline w-[24px] h-[24px] mr-2
}
tr, select {
  @apply border border-slate-300
}
select {
  @apply p-1 rounded
}
thead tr {
  @apply bg-slate-200
}
td, th {
  @apply py-1 
}
tr td:first-child, tr th:first-child {
  @apply pl-1
}

@media (min-width: 640px) {
  .page-body {
      max-width: 640px;
  }
}
@media (min-width: 768px) {
  .page-body {
      max-width: 688px;
  }
}
@media (min-width: 1024px) {
  .page-body {
      max-width: 944px;
  }
}

@media (min-width: 1280px) {
  .page-body {
      max-width: 1200px;
  }
}

